$bg:  rgba(108, 65, 233, .7);
$fg: lighten($bg,20%);
$borderWidth: 3px;
$mbc: rgb(30, 255, 0);

input[type=radio] {
  position: absolute;
  visibility: hidden;
  display: none;
  
}

label {
  color: white;
  display: inline;
  cursor: pointer;
  font-weight: bold;
  padding: 20px;
}

input[type=radio]:checked + label{
  color: rgb(0, 0, 0);
  background: $fg;
}

label + input[type=radio] + label {
  border-left: solid $borderWidth $fg;
}
.radio-group {
  border: solid $borderWidth $fg;
  display: inline-block;
  margin: 20px;
  border-radius: 10px;
  overflow: hidden;
  padding: 8px;
}

@media only screen and (max-width: 440px) {
   .radio-group {
     border: solid $mbc;
     border-radius: 10px;
   } 

   label + input[type=radio] + label {
    border-left: solid $borderWidth $mbc;
  }

  input[type=radio]:checked + label {
    border-left: solid $borderWidth $mbc;
  }
    
}


@import url('https://fonts.googleapis.com/css?family=Roboto');